In [2]:
import pandas as pd
import numpy as np
from numpy import save
%matplotlib inline

# C | Module Test

<!-- BEGIN QUESTION -->

## Part I&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(10 Points)

In [ ]:
Write Python code to read these files and create a new file named Summaries.txt that contains:

The title of the first book
A blank line
The first book's summary (from the Text file)
4 more blank lines
The title of the second book
A blank line
The second book's summary (from the Text file)

In [23]:
# Write your solution here
o2="Alice in Wonderland "
fd1=open('Summaries.txt','w+')



fd1.write(o2)
fd1.close()

fd1=open('Summaries.txt','a')
o1="\n"
fd1.write(o1)
fd1.close()

fd1=open('Summaries.txt','a')

fd2=open('Alice.txt','r')


o1=fd2.read()

fd1.write(o1)
fd1.close()
fd2.close()


o1=""
for i in range(4):
    o1+= "\n"


fd1=open('Summaries.txt','a')
fd1.write(o1)

fd1.close()
title2="The Wizard of Oz respectively \n"
fd1=open('Summaries.txt','a')
fd1.write(title2)
fd1.close()
fd1=open('Summaries.txt','a')
fd3=open('Oz.txt','r')
o1=fd3.read()

fd1.write(o1)

fd1.close()
fd2.close()
fd3.close()

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

## Part II&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(15 Points)

In [ ]:
Write Python code to perform the tasks below.
The final result must be stored in a numpy array named result_arr. The original arrays must be unchanged. 

Slice arr1 along the first axis to the given specifications: 
start index = 2 
end index = end of array 
Slice arr3 with the given specifications:
axis 1 :
start index = start of array
end index = 6
step = 2
axis 2 :
start index = 11
end index = 1
step = -2
Perform the following operation with the sliced arrays
arr1 + 10 * arr3 â€“ arr2

In [36]:
import numpy as np

file=np.load('./numpy_arrays.npz')
arr1,arr2,arr3=file.files
arr1,arr2,arr3=file[arr1],file[arr2],file[arr3]
result_arr=None
# Write your solution here

result_arr1=arr1[2:]

result_arr3=arr3[:6:2,11:1:-2]

arr4= np.multiply(result_arr3,10)

result_arr=np.add(result_arr1,arr4)
result_arr =np.subtract(result_arr,arr2)
print(result_arr)

[[  23.52908269   36.10089456   88.94097685    5.9257395    20.481093  ]
 [  95.16821953   33.42943883  -10.62435599  -36.6559974   -42.68828775]
 [  90.73589962    9.11902443  -13.08276375 -252.19369149 -560.47003634]]

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

## Part III&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(25 Points)

In [37]:
You have been provided with a csv file cars.csv  Download cars.csvcontaining details of over 400 cars with ; 
used as the separator.

Read the file into a pandas dataframe and answer the following questions by creating the corresponding variables:

Find all American car models manufactured between 80 and 81 with 6 Cylinders: name the dataframe df_q1
Find the value counts for different cylinder configuration used in cars: name the series ps_q2
Find Japanese cars with Horsepower greater than 100 and a fuel economy >= 25 MPG : name the dataframe df_q3
Create a new Pandas Series with all car names. Replace the index of the series with the sum of weight and displacement for each car: name the series ps_q3

SyntaxError: invalid syntax (Temp/ipykernel_38792/556507763.py, line 1)

In [75]:
# Write your solution here
import pandas as pd
df_q1,df_q3,ps_q2,ps_q4 = None,None,None,None

fd=pd.read_csv('cars.csv')

print(fd.head())
df_q1=fd[['Model','Cylinders']]

df_q1=df_q1.loc[(df_q1.Model>=80) & (df_q1.Model<=81) &(df_q1.Cylinders==6)]


ps_q2=fd['Cylinders'].value_counts()
#print(ps_q2)

df_q3=fd.loc[(fd.Horsepower>100) & (fd.MPG>=25)]
#print(df_q3)
ps_q3=fd['Car']

                         Car   MPG  Cylinders  Displacement  Horsepower  Weight  Acceleration  Model Origin
0  Chevrolet Chevelle Malibu  18.0          8         307.0       130.0  3504.0          12.0     70     US
1          Buick Skylark 320  15.0          8         350.0       165.0  3693.0          11.5     70     US
2         Plymouth Satellite  18.0          8         318.0       150.0  3436.0          11.0     70     US
3              AMC Rebel SST  16.0          8         304.0       150.0  3433.0          12.0     70     US
4                Ford Torino  17.0          8         302.0       140.0  3449.0          10.5     70     US

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

## Part IV&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(25 Points)

In [87]:
# Write your solution here
import pandas as pd
cereal_ratings=None
cereal_ratings=pd.read_json('cereals.json')
cereal_ratings=cereal_ratings.set_index('rating')
cereal_ratings=cereal_ratings['name']
#df1=cereal_ratings.loc[(cereal_ratings.name=='Wheaties') | (cereal_ratings.name=='Triples')| (cereal_ratings.name=='All-Bran') |  (cereal_ratings.name=='Wheat Chex')]

print(cereal_ratings)

rating
68.402973                    100% Bran
33.983679            100% Natural Bran
59.425505                     All-Bran
93.704912    All-Bran with Extra Fiber
34.384843               Almond Delight
                       ...
39.106174                      Triples
27.753301                         Trix
49.787445                   Wheat Chex
51.592193                     Wheaties
36.187559          Wheaties Honey Gold
Name: name, Length: 77, dtype: object

<!-- END QUESTION -->

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

## Part V&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(20 Points)

In [5]:
lst1=['Melbourne','Adelaide','Canberra','Sydney','Perth']#List to store city names
lst2=[250,230,250,320,200]#List to store cost of 
print("Welcome Guest. Please choose the city where you want to reserve a room")
i=1
for city in lst1:
    print(i,' ',city,': Cost per day of stay',lst2[i-1],'AUD')
    i+=1
ip=input('Enter the number corresponding to the city you would like to book')#selected city
ip2=input('Enter the number of days you would like to book for')#selcted duration
d=0 #discount set to 0 
if (int(ip2)>=7):
    if (int(ip)!=4):
        d=0.05
elif (int(ip)==5):
    d=0.1
else: pass
print('You have selected to stay at',lst1[int(ip)-1],'for',ip2,'days')
if(d>0):
    print("You get a discount")
print('Your total cost is',lst2[int(ip)-1]*int(ip2)*(1-d),'AUD')

Welcome Guest. Please choose the city where you want to reserve a room
1   Melbourne : Cost per day of stay 250 AUD
2   Adelaide : Cost per day of stay 230 AUD
3   Canberra : Cost per day of stay 250 AUD
4   Sydney : Cost per day of stay 320 AUD
5   Perth : Cost per day of stay 200 AUD
Enter the number corresponding to the city you would like to book5
Enter the number of days you would like to book for1
You have selected to stay at Perth for 1 days
You get a discount
Your total cost is 180.0 AUD